* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(21, 57, 43);
}

.container {
    width: 500px;
    background-color: rgb(174, 224, 198);
    border: 5px solid rgb(157, 203, 179);
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    padding: 20px;
}

#display {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 120px;
    background-color: rgb(139, 138, 138);
    color: black;
    font-size: 70px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.smallButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 100px;
    text-align: justify;
}

.largeButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    height: 100px;
    background-color: rgb(92, 221, 154);
    border: none;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(73, 176, 121);
}

button.clear {
    background-color: rgb(24, 202, 110);
    width: 115px;
}

button.clear:hover {
    background-color: rgb(20, 157, 86);
}

button.delete {
    background-color: rgb(24, 202, 110);
    width: 115px;  
}

button.delete:hover {
    background-color: rgb(20, 157, 86);
}
button.operator {
    background-color: rgb(4, 147, 73);
    color: white;
}

button.operator:hover {
    background-color: rgb(8, 87, 46);
}
